/*Body BG*/
body{
	background-image: url(../images/body_bg.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

/*Header style*/
#logo{
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 15px;
}

/*Dice table*/

.dice-container{
	background-image: url(../images/gameboard.jpg);
	border-style: solid;
	border-width: 12px;
	border-radius:  30px;
	border-color: #3B2D1B;
}

/* scoreTable */

table {
	background-image: url(../images/paper-texture.jpg);
    border-collapse: collapse;
    width: 100%;
    float: right;
    border: 10px;
    table-layout: fixed;
}

.table div table h2 {
	float: right;
}

td:hover, th:hover {
	cursor: pointer;
	background-color: lime;
}

table, td, th {
    border: 2.3px solid black;
}

th, td {
    text-align: left;
    padding: 4px;
}

/* // If we want lightgray between rows, 
tr:nth-child(even) {
	background-color: #f2f2f2
}
/*