
/*Body BG*/
body{
	background-image: url(../images/body_bg.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    height: 100vh;
}
/*Responsive images*/
img {
	width: 100%;
}

/*Header style*/
header {
	margin: 0 auto;
	max-width: 1000px;
}
#logo{
	margin: 0 auto;
	display: block;
	padding: 15px;
}

/*Dice table*/

.dice-container{
	background-image: url(../images/gameboard.jpg);
	border-style: solid;
	border-width: 12px;
	border-radius:  30px;
	border-color: #3B2D1B;
	padding: 15px;
}

/* scoreTable */

table {
	background-image: url(../images/paper-texture.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-repeat: repeat-y;
    width: 100%;
    table-layout: fixed;
}

td:hover {
	cursor: pointer;
	background-color: lime;
}

td {
	text-align: center;
}

th {
    background-color:rgba(84, 104, 196, 0.06);
}

.throw-dice {
    display:block;
    margin:0 auto;
}

td, th {
    border: 1px solid black;
    padding: 4px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

.scoreTable {
	border-top: 1px solid #000;
}

.myModal{
	float: center;
}

.savePoint {
	height: 60px;
	width: 60px;
	border: 1px dotted #ccc;
	text-align: center;
	margin: 15px;
	position: relative;
	
}
/* If we want lightgray between rows, 
tr:nth-child(even) {
	background-color: #f2f2f2
}
*/


/* pop up ruta*/

.modal-content
{
	background-color: #cce6ff;
	padding:15px;
}

h4{
	font-weight: bold;
}

.btn-Rules:hover { 
    background-color: #cce6ff;
}

.btn-Rules{
	height: 50px;
    width: 50px;
    float: right;
}

.btn-restart:hover{ 
    background-color: #cce6ff;
}

.btn-restart{
    float: right;
}
