
/*Body BG*/
body{
	background-image: url(../images/body_bg.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    height: 100vh;
}
/*Responsive images*/
img {
	width: 100%;
}

/*win modal*/
#crown{
    width: 20%;
    display:block;
    margin: 0 auto;
}

#winbut{
    background-color:#d9534f;
    border-color: gray;
    color: whitesmoke;
    border-radius:10px;   
}

#win {
    background: whitesmoke url(../images/winBG.png) right repeat-x;
    border-radius:20px;
    text-align:center;
}

#confetti{
  position: fixed;
  left: 0;
  top: 0;
  height: 80%;
  width: 100%;
  z-index:1000;
  display:none;
}
/*--------------------*/

/*Header style*/
header {
	margin: 0 auto;
	max-width: 1000px;
}
#logo{
	margin: 0 auto;
	display: block;
	padding: 15px;
}

button:active {
outline: none;
border: none;
}
button:focus { outline:0 !important; }

.throw-dice {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border-top:2px solid #fff;
  	box-shadow:
    0 5px 2px 3px rgba(158, 158, 158, 0.4), 
    0 3px 5px #B7B6B6, 
    0 0 0 2px #BBB7AE, 
    inset 0 -3px 1px 2px rgba(186, 178, 165, 0.5),
    inset 0 3px 1px 2px rgba(246, 245, 241, 0.3);
	background-color:#d9534f;
	background: linear-gradient(#d9534f,#d43f3a);
	user-select: none;
	focus outline:0;
}
.throw-dice h2 {
	margin: 0 0;
	padding: 0;
	font-family: 'Cinzel', serif;
	font-weight: 900;
	font-size: 28px;
}
.throw-dice count {
	font-family: 'Cinzel', serif;
	font-size: 24px;
}

/*Dice table*/
.dice-container{
	background-image: url(../images/gameboard.jpg);
	border-style: solid;
	border-width: 12px;
	border-radius:  30px;
	border-color: #3B2D1B;
	padding: 15px;
}

/* scoreTable */
table {
	background-image: url(../images/paper-texture.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-repeat: repeat-y;
    width: 100%;
    table-layout: fixed;
}

td:hover {
	cursor: pointer;
	background-color: lime;
}

td {
	text-align: center;
}

th {
    background-color:rgba(84, 104, 196, 0.06);
}

.throw-dice {
    display:block;
    margin:10px auto;
}

td, th {
    border: 1px solid black;
    padding: 4px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

.scoreTable {
	border-top: 1px solid #000;
}

.myModal{
	float: center;
}

.savePoint {
	height: 60px;
	width: 60px;
	border: 1px dotted #ccc;
	text-align: center;
	margin: 24px auto;
	position: relative;
}

/* pop up ruta*/
.modal-content
{
	background-color: #cce6ff;
	padding:15px;
}

h4{
	font-weight: bold;
}

.btn-Rules:hover { 
    background-color: #cce6ff;
}

.btn-Rules{
	height: 50px;
    width: 50px;
    float: right;
}

.btn-restart:hover{ 
    background-color: #cce6ff;
}

.btn-restart{
    float: right;
}
